body {
  background-color: #EEE;
}

body #title {
  font-size: 1.8em;
}

body:before { /* top shadow */
  content: "";
  position: fixed;
  top: -4px;
  left: -4px;
  width: 110%;
  height: 4px;
 
  -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.8);
     -moz-box-shadow: 0px 0px 4px rgba(0,0,0,.8);
      -ms-box-shadow: 0px 0px 4px rgba(0,0,0,.8);
       -o-box-shadow: 0px 0px 4px rgba(0,0,0,.8);
          box-shadow: 0px 0px 4px rgba(0,0,0,.8);
  z-index: 100;
}

body .social-buttons li {
  float:left;
  margin-left: 4px;
  list-style-type: none;
}
