$main-color: desaturate(#2ecc71, 10%);
$main-color-hover: desaturate(#27ae60, 10%);
$accent-color: adjust-hue($main-color, 200);
$base-color: #f2f2f2;
$text-color: #fff;
$shadow: 2px;
$shadow2: $shadow * 2;

h1, h2 {
  color: $text-color;
  background-color: $main-color;
  line-height: 1.4;
  margin-left: -10px;
  padding-left: 5px;
}

h3, h4, h5, h6 {
  color: $main-color;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

body {
    color: #333;
    background-color: $base-color;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

i {
  font-size: 130%;
  margin-right: 5px;
}

.container {
    max-width: 1000px;
}

.right {
    float: right;
    text-align: right;
}

.navbar {
    border-radius: 0;
    box-shadow: 0 0 0 0,0 $shadow $shadow2 rgba(34,34,34,0.3);
}

.navbar-default {
    background-color: $main-color;
    border: none;

    .navbar-brand {
      color: #fff;
      &.hover {
        color: #fff;
      }
    }

    .navbar-nav {
        li a {
          color: #fff;
          &.hover {
            color: #fff;
            background-color: $main-color-hover;
          }
        }
        .active a {
          color: #fff;
          background-color: $main-color-hover;
        }
    }

    .navbar-toggle {
        .icon-bar {
          background-color: #fff;
        }
        &.hover {
          background-color: $main-color-hover;
        }
    }
}

#sidebar {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 $shadow $shadow2 rgba(34,34,34,0.1);
    margin-left: 15px;
    margin-top: 30px;
    padding: 15px;
}

#content {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 0,0 $shadow $shadow2 rgba(34,34,34,0.1);
    margin-top: 20px;
}

footer {
    font-size: 14px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 30px;
}

#post-tags {
    margin-top: 30px;
}

#prev-next {
    padding: 15px 15px;
}

.btn-next-prev {
    color: #fff;
    background-color: $main-color;
}

.post-header {
    margin-bottom: 20px;
    h2 {
        font-size: 32px;
    }
}

#post-meta {
    font-size: 14px;
    color: rgba(0,0,0,0.4)
}

#page-header {
    margin-bottom: 20px;
    h2 {
        font-size: 32px;
    }
}

pre {
    overflow-x: auto;
    code {
        overflow-wrap: normal;
        white-space: pre;
    }
}

code {
    color: #428bca;
}

pre, code, .hljs {
    background-color: #f7f9fd;
}

@media (min-width: 768px) {
    .navbar {
        min-height: 70px;
    }
    .navbar-nav>li>a {
        padding: 30px 20px;
    }
    .navbar-default .navbar-brand {
        font-size: 36px;
        padding: 25px 15px;
    }
    #content{
        margin-top: 30px;
        padding: 30px 40px;
    }
}

@media (max-width: 767px) {
    body{
        font-size: 14px;
    }
    .navbar-default .navbar-brand {
        font-size: 30px;
    }
    #content{
        padding: 15px;
    }
    #post-meta .right {
        float:left;
        text-align: left;
    }
}
